<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>Cloner64.icns</string>
			<key>CFBundleTypeName</key>
			<string>XDNA Sequence File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.cerealcloner.xdna</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>Cloner64.icns</string>
			<key>CFBundleTypeName</key>
			<string>FASTA Sequence File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.cerealcloner.fasta</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>Cloner64.icns</string>
			<key>CFBundleTypeName</key>
			<string>GenBank Sequence File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.cerealcloner.genbank</string>
				<string>com.ncbi.gb</string>
				<string>edu.utah.biology.jorgensen.ape</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>Cloner64.icns</string>
			<key>CFBundleTypeName</key>
			<string>SnapGene DNA File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.cerealcloner.snapgene-dna</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>Cloner64.icns</string>
			<key>CFBundleTypeName</key>
			<string>APE Sequence File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.cerealcloner.ape</string>
				<string>edu.utah.biology.jorgensen.ape</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>Cloner64.icns</string>
			<key>CFBundleTypeName</key>
			<string>XPRT Protein Sequence File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.cerealcloner.xprt</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Cloner 64</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026. All rights reserved.</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>XDNA Sequence File</string>
			<key>UTTypeIconFile</key>
			<string>Cloner64.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.cerealcloner.xdna</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>xdna</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>FASTA Sequence File</string>
			<key>UTTypeIconFile</key>
			<string>Cloner64.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.cerealcloner.fasta</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>fasta</string>
					<string>fa</string>
					<string>fna</string>
					<string>faa</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>GenBank Sequence File</string>
			<key>UTTypeIconFile</key>
			<string>Cloner64.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.cerealcloner.genbank</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>gb</string>
					<string>gbk</string>
					<string>genbank</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>SnapGene DNA File</string>
			<key>UTTypeIconFile</key>
			<string>Cloner64.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.cerealcloner.snapgene-dna</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>dna</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>APE Sequence File</string>
			<key>UTTypeIconFile</key>
			<string>Cloner64.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.cerealcloner.ape</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ape</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>XPRT Protein Sequence File</string>
			<key>UTTypeIconFile</key>
			<string>Cloner64.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.cerealcloner.xprt</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>xprt</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>GenBank Sequence File (NCBI)</string>
			<key>UTTypeIconFile</key>
			<string>Cloner64.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.ncbi.gb</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>gb</string>
					<string>gbk</string>
					<string>genbank</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ApE / GenBank Sequence File</string>
			<key>UTTypeIconFile</key>
			<string>Cloner64.icns</string>
			<key>UTTypeIdentifier</key>
			<string>edu.utah.biology.jorgensen.ape</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>gbk</string>
					<string>ape</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
